PORT=3000
NODE_ENV=development

MONGO_URI=mongodb+srv://<user>:<password>@<cluster>/<db>

JWT_SECRET=replace-with-a-long-random-string
JWT_EXPIRES_IN=7d

CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_UPLOAD_PRESET=
